body{
    font-family: Helvetica, arial, sans-serif;
}

/* header */
/* header top */
.header-top{
    background-color: black;
}

header .sony-logo{
    width: 10%;
}
/* /header top */
/* header bottom */
.header-bottom .dropdown-menu img{
    width: 5em;
}
/* /header bottom */
/* /header */

/* main */
main{
    margin-top: 100px;
}
/* jumbotron */
.jumbotron{
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    color: white;
}

.col-5{
    border: 1px solid red;
}

main .container img{
    width: 18em;
}
/* /jumbotron */
/* cards-under-jumbotron */
.cards-under-jumbotron img{
    border-radius: 20px;
}
/* /cards-under-jumbotron */
/* has-no-limits */
.blue-word{
    color: #2d64e6;
}
.gray-word{
    color: #747474;
    font-weight: bold;
}

.has-no-limits span{
    font-size: small;
}
/* /has-no-limits */
/* banner-it-takes-two */
.banner-it-takes-two{
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    color: white;
}
/* /banner-it-takes-two */
/* nuove uscite */
.nuove-uscite{
    background-color: #1f1f1f;
    color: white;
}

.nuove-uscite img{
    border-radius: 20px;
}
/* /nuove uscite */
/* /main */