body{
    font-family: Helvetica, arial, sans-serif;
}

/* header */
/* header top */
.header-top{
    background-color: black;
}

header .sony-logo{
    width: 10%;
}
/* /header top */
/* header bottom */
.header-bottom .dropdown-menu img{
    width: 5em;
}
/* /header bottom */
/* /header */

/* main */
main{
    margin-top: 100px;
}
/* jumbotron */
.jumbotron{
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    color: white;
}

.col-5{
    border: 1px solid red;
}

main .container img{
    width: 18em;
}

/* /jumbotron */
/* /main */